
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "recipe_cards" %}

{% block content %}

    <h1>Your Recipes</h1>

    <p class="lead">Here are your requested recipes!</p>

    <div class="row">
        {% for recipe in recipes %}
            <div class="col">
                <div class="card" style="width: 18rem; margin-bottom: 20px;">
                    <img class="card-img-top" src="{{ recipe.image }}" alt="an image of '{{ recipe.title }}'">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <!-- <p class="card-text"></p> -->

                        <a href="{{ recipe.spoonacularSourceUrl }}">
                        <button class="btn btn-primary">Follow for Recipe Link</button>
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
